#personal_page{
    display: flex;
}

#profile, #profile_content > div {
    border: solid 1.5px rgb(189, 188, 188);
    border-radius: 10px;
    margin-bottom: 10px;
}

#profile_content {
    width: 70%;
    margin-left: 20px;
}

.img {
    text-align: center;
}

.profile_img {
    width: 100px;
    height : 100px;
}

#profile {
    padding: 20px;
    width: 150px;
    height: 300px;
    margin-left: 20px;
}

.edit_button {
    color: rgb(104, 138, 250);
    border: 0;
    background-color: transparent;
}

#edit, #button {
    text-align: center;
}

#button {
    margin-bottom: 10px;
}

.btn {
    background-color: rgb(104, 138, 250);
    border: none;
    color: white;
    border-radius: 2px;
    width: 30px;
    height: 30px;
}

.content {
    margin-left: 20px;
}