<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/header.css">
    <title>network</title>
    <script src="../public/js/header.js" defer></script>
</head>
<body>
    
    <nav class="navbar">
        <div class="navbar_Home">
            <a href="#">안녕하세요. 포트폴리오 공유 서비스입니다.</a>
        </div>

        <ul class="navbar_menu">
            <li><a href="#">네트워크</a></li>
            <li><a href="#">나의 페이지</a></li>
            <li><a href="#">로그아웃</a></li>
        </ul>       
    </nav>
    
</body>
</html>