<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">    
</head>
<body>
    <main id="main">
        <script type ="module" src="../js/network/network.js"></script>
        <div id="profiles-container"></div>          
        <script src="../js/header.js"></script>
        <script src="../js/footer.js"></script>
    </main>
</body>
</html>