<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/network/network.css">    
</head>
<body>        
        <main id="main">
            <div class="Lside">Lside</div>
            <script type ="module" src="../js/network/network.js"></script>        
            <div id="userList"></div>                                       <!--User list Import-->
            <script src="../js/header.js"></script>                         <!--  Header Script -->
            <script src="../js/footer.js"></script>                         <!--  Footer Script -->
            <div class="Rside">Rside</div>
        </main>        
</body>
</html>