<html>
    <head>
        <meta charset="utf-8"/>
        <title>개인 페이지</title>
        <link rel="stylesheet" href="./css/otheruser.css" />
        <link rel="stylesheet" href="./css/header.css">
    </head>
    <body>
        
<main id="main">
        <div id="personal_page">

            <div id="profile">
                <div class="img">
                    <img 
                        class="profile_img"
                        src="https://i.pinimg.com/236x/88/fd/5b/88fd5bbccc180152c81ccaedc9c72d02.jpg"
                        alt="프로필 사진"
                    />
                </div>
                <h2>이름</h2>
                <p>email</p>
                <p>설명이 아직 없습니다. <br/ >추가해 주세요.</p>

            </div>


            <div id="profile_content">

                <details open>
                    <summary>학력</summary>
                    <div markdown="1" class="education">
                        <ul id="education_list">    
                            <!-- <li > oo고등학교 | 자연계열 | 고등학교</li>
                            <li > oo대햑교 | 자연과학부 | 학사</li> -->
                        </ul>   
                    </div>
                </details>

                <details open>
                    <summary>수상이력</summary>
                    <div markdown="1" class="award">
                        <ul id="award_list">    
                            <!-- <li > 성적우수상 | oo대학교 자연대학장 | 2023.4.5</li>
                            <li > 최우수상 | oo경진대회 | 2023.4.5</li> -->
                        </ul>   
                    </div>
                </details>

                <details open>
                    <summary>프로젝트</summary>
                    <div markdown="1" class="project">
                        <ul id="project_list">    
                            <!-- <li > oo프로젝트 | 2023.2.3 ~ 2023.3.4 | 프런트엔드</li> -->
                        </ul>    
                    </div>
                </details>

                <details open>
                    <summary>자격증</summary>
                    <div markdown="1" class="license">
                        <ul id="license_list">    
                            <!-- <li > 컴퓨터활용능력 | 대한상공회의소 | 2024.1.2</li>
                            <li > 한국사능력검정 | 한국자격검정평가진흥원 | 2024.3.4</li> -->
                        </ul>    
                    </div>
                </details>

            </div>
        </div>
    </main>
        <script src="./js/otheruser.js"></script>
        <script src="./js/header.js"></script>
    </body>
</html>
