<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>개인 페이지</title>
        <link rel="stylesheet" href="./css/otheruser.css" />
        <link rel="stylesheet" href="./css/header.css">
    </head>
    <body>  
    <main id="main">
        <div id="user_page">
            <div id="profile_basic">
                <img 
                    id="profile_img"
                    src="https://i.pinimg.com/236x/88/fd/5b/88fd5bbccc180152c81ccaedc9c72d02.jpg"
                    alt="프로필 사진"
                />
                <div id="porfile_detail">
                    <p id="user_name">이름</p>
                    <p id="user_email" style="color:gray">email</p>
                    <p id="user_detail">설명이 아직 없습니다asdasdasdasdadasasdas.</p>
                </div>

            </div>


            <div id="profile_content">

                <details open>
                    <summary>학력</summary>
                    <div markdown="1" class="education">
                        <ul class="list" id="education_list">    
                            <p class="list_default">아직 등록된 학력 사항이 없습니다.</p>

                        </ul>   
                    </div>
                </details>

                <details open>
                    <summary>수상이력</summary>
                    <div markdown="1" class="award">
                        <ul class="list" id="award_list">    
                            <li>asd</li>
                            <li>asd</li>
                            <li>asd</li>
                        </ul>   
                    </div>
                </details>

                <details open>
                    <summary>프로젝트</summary>
                    <div markdown="1" class="project">
                        <ul class="list" id="project_list">    
                            <li>asd</li>
                            <li>asd</li>
                            <li>asd</li>
                        </ul>    
                    </div>
                </details>

                <details open>
                    <summary>자격증</summary>
                    <div markdown="1" class="license">
                        <ul class="list" id="license_list">    
                            <li>asd</li>
                            <li>asd</li>
                            <li>asd</li>
                        </ul>    
                    </div>
                </details>

            </div>
        </div>
    </main>
        <script src="./js/otheruser.js"></script>
        <script src="./js/header.js"></script>
    </body>
</html>
