<html>
    <head>
        <meta charset="utf-8"/>
        <title>개인 페이지</title>
        <link rel="stylesheet" href="personal.css" />
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar_Home">
                <a href="#">안녕하세요. 포트폴리오 공유 서비스입니다.</a>
            </div>

            <ul class="navbar_menu">
                <li><a href="#">네트워크</a></li>
                <li><a href="#">나의 페이지</a></li>
                <li><a href="#">로그아웃</a></li>
            </ul>
        </nav>

        <div id="personal_page">
            <div id="profile">
                <div class="img">
                    <img 
                        class="profile_img"
                        src="https://i.pinimg.com/236x/88/fd/5b/88fd5bbccc180152c81ccaedc9c72d02.jpg"
                        alt="프로필 사진"
                    />
                </div>
                <h2>이름</h2>
                <p>email</p>
                <p>설명이 아직 없습니다. <br/ >추가해 주세요.</p>
                <div id="edit">
                    <button class="edit_button">Edit</button>
                </div>
            </div>
            <div id="profile_content">
                <div class="education">
                    <p class="content">학력</p>
                    <form id="educationForm">
                        <div class="add"></div>
                    </form>
                    <div id="button">
                        <button class="btn" onclick="openEdu()">+</button>
                    </div>
                </div>
                <div class="award">
                    <p class="content">수상이력</p>
                    <form id="awardForm">
                        <div class="add"></div>
                    </form>
                    <div id="button">
                        <button class="btn" onclick="openAward()">+</button>
                    </div>
                </div>
                <div class="project">
                    <p class="content">프로젝트</p>
                    <form id="projectForm">
                        <div class="add"></div>
                    </form>
                    <div id="button">
                        <button class="btn" onclick="openProject()">+</button>
                    </div>
                </div>
                <div id="license">
                    <p class="content">자격증</p>
                    <form id="licenseForm">
                        <div class="add"></div>
                    </form>
                    <div id="button">
                        <button class="btn" onclick="openLicense()">+</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="personal.js"></script>
    </body>
</html>