<html>
    <head>
        <meta charset="utf-8"/>
        <title>개인 페이지</title>
        <link rel="stylesheet" href="../public/css/personal.css" />
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar_Home">
                <a href="#">안녕하세요. 포트폴리오 공유 서비스입니다.</a>
            </div>

            <ul class="navbar_menu">
                <li><a href="#">네트워크</a></li>
                <li><a href="#">나의 페이지</a></li>
                <li><a href="#">로그아웃</a></li>
            </ul>
        </nav>
        <div class="container">
            <div id="personal_page">
                <div id="profile">
                        <div class="img">
                            <img 
                                class="profile_img"
                                src="https://cdn.imweb.me/thumbnail/20220413/04966fa44899b.png"
                                alt="프로필 사진"
                            />
                        </div>
                        <div class="intro">
                            <h1>이름</h1>
                            <p>email : <span id="email">#email span value</span></p>
                            <p>설명이 아직 없습니다. 추가해 주세요.</p>
                            <div class="edit">
                                <button class="edit_button">edit</button>
                            </div>
                        </div>
                </div>
            </div>

            <div id="myInfo">
                <div id="profile_content">
                    <div class="education">
                        <p class="content">학력</p>
                        <div id="button">
                            <button class="btn" onclick="openEdu('education')">ADD</button>
                        </div>
                        <form id="educationForm">
                            <div class="add"></div>
                        </form>
                        <hr />
                    </div>
                    <div class="award">
                        <p class="content">수상이력</p>
                        <div id="button">
                            <button class="btn" onclick="openAward('award')">ADD</button>
                        </div>
                        <form id="awardForm">
                            <div class="add"></div>
                        </form>
                        <hr />
                    </div>
                    <div class="project">
                        <p class="content">프로젝트</p>
                        <div id="button">
                            <button class="btn" onclick="openProject('project')">ADD</button>
                        </div>
                        <form id="projectForm">
                            <div class="add"></div>
                        </form>
                        <hr />
                    </div>
                    <div class="license">
                        <p class="content">자격증</p>
                        <div id="button">
                            <button class="btn" onclick="openLicense('certificate')">ADD</button>
                        </div>
                        <form id="licenseForm">
                            <div class="add"></div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        <script src="../public/js/personal.js"></script>
    </body>
</html>