<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>개인 페이지</title>
    <link
      rel="stylesheet"
      href="../css/personal.css"
    />
    <link rel="stylesheet" href="./css/header.css">
  </head>
  <body>
    <main id="main">
    <div class="container">
      <div id="personal_page">
        <div id="profile">
          <div class="img">
            <img
              class="profile_img"
              src="https://cdn.imweb.me/thumbnail/20220413/04966fa44899b.png"
              alt="프로필 사진"
            />
          </div>
          <div class="intro">
            <h1>이름</h1>
            <p>email : <span id="email">#email span value</span></p>
            <p>설명이 아직 없습니다. 추가해 주세요.</p>
            <div class="edit">
              <button class="edit_button">edit</button>
            </div>
          </div>
        </div>
      </div>
      <div id="myInfo">
        <div id="profile_content">
          <div class="education">
            <p class="content">학력</p>
            <div id="button">
              <button id="addEdu" class="btn"">ADD</button>
            </div>
            <form id="educationForm">
              <div class="add"></div>
            </form>
            <div id="addedEducation"></div>
            <hr />
          </div>
          <div class="award">
            <p class="content">수상이력</p>
            <div id="button">
              <button id="addAward" class="btn">ADD</button>
            </div>
            <form id="awardForm">
              <div class="add"></div>
            </form>
            <div id="addedAward"></div>
            <hr />
          </div>
          <div class="project">
            <p class="content">프로젝트</p>
            <div id="button">
              <button id="addProject" class="btn">ADD</button>
            </div>
            <form id="projectForm">
              <div class="add"></div>
            </form>
            <div id="addedProject"></div>
            <hr />
          </div>
          <div class="certificate">
            <p class="content">자격증</p>
            <div id="button">
              <button id="addCertificate" class="btn"">ADD</button>
            </div>
            <form id="certificateForm">
              <div class="add"></div>
            </form>
            <div id="addedCertificate"></div>
          </div>
        </div>
      </div>
    </div>
    </main>
    <script type="module" src="../js/personal/personal.js"></script>
    <script src="./js/header.js"></script>
  </body>
</html>
