<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Page</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="main2">
  <div class = "title">
    <div class="title_img"><img src = "/img/portgram_title.png"></div>
    <div class = "title_text">나의 포트폴리오 공유하기</div>
  </div>

  <div class="notice_text">세계 각국의 Portagram 회원들에게 당신의 포트폴리오를 공유하고 다양한 채용 기회를 만나보세요.</div>
  
  <div class="signup-container">
    <form id="signup-form">
      <div class="form-group">
        <input type="email" id="email" name="email" placeholder="이메일" required>
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" placeholder="비밀번호" required>
      </div>
      <div class="form-group">
        <input type="password" id="confirm-password" name="confirm-password" placeholder="비밀번호 확인" required>
      </div>
      <div class="form-group">
        <input type="text" id="name" name="name" placeholder="이름" required>
      </div>
      <button type="submit" class="login">회원가입</button>
    </form>
    <p id="error-message"></p>
  </div>

</div>

  <script type="module" src="/js/register.js"></script>
</body>
</html>