body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .main{
    display: flex; 
    flex-direction: column;
    align-items: center; 
    gap:80px;
  }

  .login-container {
    width: 400px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
  }
  
  .form-group {
    width: 400px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: calc(100% - 22px);
    height:35px;
    padding: 5px;
    padding-left:15px;
    border: 1px solid #959595;
    border-radius: 10px;
    background-color: #F3F3F3;
  }


  [type="text"]::placeholder,
  input[type="password"]::placeholder {
    font-family: 'NanumGothic';
    font-size: 14px;
  }

  button{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'NanumGothic';
    font-weight: bold;
  }
  
  button.login {
    background-color: #2DC7ED;
    color: #fff;
  }

  button.register {
    background-color: #ececec;
    color: #000000;
  }
  
  button.login:hover {
    background-color: #2d97ed;
  }

  button.register:hover {
    background-color: #b8b8b8;
  }
  
  .title{
    width: 500px;

    .title_img{
      display: flex; 
      flex-direction: column;
      align-items: center; 

      img{
        width:400px;
      }
    }

    .title_text{

      font-family: 'NanumGothic';
      font-size:18px;
      text-align: right;
      margin-top: -20px;
    }
  }