#main {
  border: solid 1.5px rgb(189, 188, 188);
  border-radius: 10px;
}

@media screen and (min-width: 769px) {
  #user_page{
    display: flex;
    flex-direction: row;
    margin: 35px;
  }

  #profile_basic {
    flex-basis: 30%;
    flex-shrink: 1;
    border-right: solid 1.5px rgb(189, 188, 188);
  }

  #profile_basic #profile_img{
    width: 70%;
    border-radius: 20px;
  }

  #profile_content {
    margin-left: 10px;
    flex-basis: 70%;
    flex-shrink: 1;
  }

  #user_name {
    font-weight: 700;
    font-size:x-large; 
  }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  #user_page{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  #profile_basic {
    flex-shrink: 1;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1.5px rgb(189, 188, 188);
  }
  
  #profile_img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-right: 2rem;
    flex-grow: 0;
  }

  #user_name {
    font-weight: 700;
    font-size:x-large; 
  }

  #profile_detail{
    height: 100%;
    flex-grow:1;
  }
  
  #profile_content {
    /* margin-left: 10px; */
    flex-shrink: 1;
  }
}


@media screen and (max-width: 480px) {
  #user_page{
    /* display: flex;
    flex-direction: column; */
    margin: 0;
  }
  
  #profile_basic {
    flex-shrink: 1;
    padding: 2rem 2rem 0 2rem;
    /* display: flex;
    flex-direction: row; */
    border-bottom: solid 1.5px rgb(189, 188, 188);
  }
  
  #profile_img{
    width: 85px;
    height: 85px;
    border-radius: 20px;
    margin-right: 2rem;
    display: inline;
  }

  #user_name {
    font-weight: 700;
    display: inline;
  }

  #profile_detail{
    height: 100%;
  }
  
  #profile_content {
    /* margin-left: 10px; */
    flex-shrink: 1;
  }
}


.list {
  border: solid 1.5px rgb(189, 188, 188);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin-block-start: 0;
}


li{
  line-height: 1.8;
  margin: 10;
}

.list_default {
  color:indianred;
  text-align: center;
}


/* --아코디언-- */
details {
  padding: 0 2rem;
  background-color: white;

  margin-bottom: 1rem;
}
summary:hover {
  /* border: solid 2.5px rgb(227, 227, 227);
  border-radius: 0.5rem;
  background-color: blanchedalmond; */
  color:skyblue;
}
details:last-child {
  margin-bottom: 0;
}
summary::-webkit-details-marker {
  display: none;
}
summary {
  display: block;
  padding: 1rem 0;
  font-weight: 600;
  position: relative;
}
summary::before, summary::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: #222;
  right: 0.5rem;
  top: 1.5rem;
}
summary::after {
  transform: rotateZ(90deg);
}

details[open] summary::after {
  display: none;
}