body {
  background-color: #f2f2f2;
}
#main {
  /* border: solid 1.5px #303030; */
  border-radius: 0.5rem;
  /* background-color: white; */
}
#profile_img {
  border-radius:3rem;
}
#user_name {
  margin-bottom:0;
}
#user_email {
  margin-top:0.1rem;
}
#profile_basic, #profile_content {
  background-color: white;
  border-radius: 1rem;
}
#profile_content {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 769px) {
  #user_page{
    display: flex;
    flex-direction: row;
    margin: 35px;
  }

  #profile_basic {
    flex-basis: 30%;
    flex-shrink: 1;
    /* border: solid 1.5px #303030; */
    text-align: center;
    height: 50%;
    width: 90%;
    margin-right: 1rem;
    padding-bottom: 1.5rem;
  }

  #profile_img{
    width: 70%;
    margin-top: 2rem;
  }

  #profile_content {
    margin-left: 10px;
    flex-basis: 70%;
    flex-shrink: 1;
  }

  #user_name {
    font-weight: 700;
    font-size:x-large; 
    margin-top: 1rem;
    margin-bottom: 0;
  }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  #user_page{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  #profile_basic {
    flex-shrink: 1;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    /* border: solid 1.5px #303030; */
    margin:2rem 2rem 1rem 2rem;
  
  }
  
  #profile_img{
    width:40%;
    height: 80%;
    margin-right: 2rem;
    flex-grow: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  #user_name {
    font-weight: 700;
    font-size:x-large; 
  }

  #profile_detail{
    height: 100%;
    flex-grow:1;
  }
  
  #profile_content {
    flex-shrink: 1;
    margin-left:2rem;
    margin-right:2rem;
  }
}


@media screen and (max-width: 480px) {
  #user_page{
    /* display: flex;
    flex-direction: column; */
    margin: 0;
  }
  
  #profile_basic {
    /* margin: 2rem 2rem 1rem 2rem; */
    display: flex;
    flex-direction: row;
    /* border: solid 1.5px #8a8a8a; */
    /* border-radius: 0.5rem; */
    background-color: #303030;
    width:100%;
  }
  

  #profile_img{
    width: 85px;
    height: 85px;
    margin:  1rem 2rem;
  }

  #user_name {
    font-weight: 700;
    margin-top: 1.5rem;
    color:white;
  }

  #user_detail {
    color:white;
  }

  #profile_detail{
    height: 100%;
  }
  
  #profile_content {
    /* margin-left: 10px; */
    flex-shrink: 1;
  }

  p, li {
    font-size: small;
  }
}


.list {
  border: solid 1.5px #303030;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin-block-start: 0;
}


li{
  line-height: 1.8;
  margin: 10;
}

.list_default {
  color:indianred;
  text-align: center;
}


/* --아코디언-- */
details {
  padding: 0 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
summary:hover {
  /* border: solid 2.5px rgb(227, 227, 227);
  border-radius: 0.5rem;
  background-color: blanchedalmond; */
  color:#5B63B7;
}
details:last-child {
  margin-bottom: 0;
}
summary::-webkit-details-marker {
  display: none;
}
summary {
  display: block;
  padding: 1rem 0;
  font-weight: 600;
  position: relative;
}
summary::before, summary::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: #303030;
  right: 0.5rem;
  top: 1.5rem;
}
summary::after {
  transform: rotateZ(90deg);
}

details[open] summary::after {
  display: none;
}