.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

a{
    text-decoration: none;
    color:black;
}

.navbar_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 20px;
}

.navbar_menu li {
    padding-right: 10px;
}

.container {
    display: flex;
    height: 100%;
}

body {
    margin: 0;
}

#personal_page, #myInfo{
    /* display: flex; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#myInfo {
    width: 70%;
}

#personal_page {
    background-color: #faeb65;
    width: 18%;
    height: 100vw;
}

#profile_content {
    width: 1200px;
}

.img{
    text-align: center;
}
.profile_img {
    margin-top: 25px;
    width: 280px;
    height : 280px;
}

#profile {
    width: 600px;
    height: 300px;
}

.intro {
    text-align: center;
    margin: 15%;
    width: 400px;
}
.intro > p {
    font-size: 18pt;
}

.edit {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.edit_button {
    font-size: 25px;
    color: #7CB342;
    border: 0;
    background-color: transparent;
}

#button {
    text-align: center;
}

#button {
    margin-bottom: 30px;
}

.btn {
    background-color: #E0E0E0;
    border: none;
    color: #757575;
    border-radius: 2px;
    height: 25px; 
    font-size: 11pt;
}

.content {
    letter-spacing: 4px;
    text-align: center;
    border: solid 1.2px #A1887F;
    border-radius: 10px;
    padding: 15px 0px;
    margin: 15px 0;
    width: 100%;
    font-weight: bold;
    font-size: 20pt;
    color: rgb(91, 90, 90);
}

.education, .award, .project, .license {
    margin-top: 45px;
    margin-bottom: 150px;
}


.input-style {
    margin: 5px;
    width: 98%;
    padding: 10px 0;
}

.date-style {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.confirmBtn {
    text-align: center;
    margin-top: 10px;
}

.submit-button {
    border: none;
    border-radius: 3px;
    letter-spacing: 2px;
    background-color: #7CB342;
    color: #ffffff;
    width: 50px;
    height: 30px;
    margin-right: 10px;
}

.cancel-button {
    border: none;
    border-radius: 3px;
    letter-spacing: 2px;
    background-color: #FF7043;
    color: #ffffff;
    width: 50px;
    height: 30px;
}

.edit_button, .btn, .submit-button, .cancel-button:hover{
    cursor: pointer;
}
