<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>

    <div class="main">
    <div>안녕하세요. 포트폴리오 공유 서비스 입니다.</div>
    <p></p>
    <div class="login-container">
        <form id="login-form">
        <div class="form-group">
            <label for="username">Email address</label>
            <input type="text" id="email" name="email" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="login">로그인</button>
        <p></p>
        <button type="button" class="register" onclick="window.location.href='register.ejs';">회원가입하기</button>    </form>
        <p id="error-message"></p>
    </div>
  </div>

  <script type="module" src="/js/index.js"></script>
</body>
</html>