#userList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 200px; /* 그리드 간격 설정 */
    padding-left: 40px; /*  왼쪽 여백  */
    padding-right: 40px ; /* 오른쪽 여백 */
}

.userProfile {
    display: flex;
    width: 100px;  /*  카드 폭  */
    height: 400px;  /*  카드 높이  */
    border-radius: 20px; /* 둥근 모서리 설정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
    padding: 20px 100px; /* 안쪽 여백 설정 */
    margin-bottom: 20px; /* 하단 여백 설정 */
    background-color: #fff; /* 배경색 설정 */
}
