#userList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 20px; /* 그리드 간격 설정 */
}

.userProfile {
    display: flex;
    width: 100px;
    height: 400px;
    border-radius: 10px; /* 둥근 모서리 설정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
    padding: 20px 100px; /* 안쪽 여백 설정 */
    margin-bottom: 20px; /* 하단 여백 설정 */
    background-color: #fff; /* 배경색 설정 */
}
