<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../public/js/includeheader.js"></script>  <!--헤더 불러오기-->
    <script src="../../public/js/includefooter.js"></script>  <!--푸터 불러오기-->
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/footer.css">
</head>
<body>
    <header>
    <div header-html="../header.html"></div>
    <script>
        includeheaderHTML();
        </script>
    </header>
    <main>

    </main>
    <footer>
        <div footer-html="../footer.html"></div>
    <script>
        includefooterHTML();
        </script>
    </footer>
</body>

</html>